<div class="menu-bar__container">

  <!-- <app-menu-bar-logo></app-menu-bar-logo> -->

  <div class="menu-bar__logo">

    <img src="assets/ps-logo.png" alt="" width="140px" height="32px">

  </div>

  <!-- <app-menu-bar-item></app-menu-bar-item> -->

  <div class="menu-bar__item">
    <ul>
      <li><a href="https://www.youtube.com/pollyanamasiero" target="_blank">YOUTUBE</a></li>
      <li><a href="https://www.linkedin.com/in/pollyanamasiero/" target="_blank">LINKEDIN</a></li>
      <li><a href="https://github.com/pollyanamasiero" target="_blank">GITHUB</a></li>
    </ul>

  </div>

</div>

